## Ejercicio 1: Transformar cadenas

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [9]:
text.split('. ')

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [3]:
text.find('average')

164

In [4]:
text.find('temperature')

326

In [5]:
text.find('distance')

-1

In [6]:
palabras_clave = ['average','temperature','distance']

In [11]:
for moon in text.split('. '):
    for palabras_clave in palabras_clave:
        if palabras_clave in moon:
            print(moon)
        break

The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

In [13]:
for moon in text.split('. '):
    for palabras_clave in palabras_clave:
        if palabras_clave in moon:
            print(moon.replace('C','Celsius'))
        break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

## Ejercicio 2: Formateando Cadenas

In [15]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [17]:
print (f'La gravedad sobre {planet} es de {gravity} expresada en kms')

La gravedad sobre Earth es de 0.00162 expresada en kms

In [20]:
titulo = f'La gravedad sobre {planet}'

In [21]:
print (titulo)

La gravedad sobre Earth

In [22]:
texto = f'''{'-'*100}
            Nombre del satelite: {name}
            La gravedad en {planet} es:{gravity * 1000} en m/s2
        '''

In [23]:
union = f'''{titulo.title()}
        {texto}'''

In [24]:
print (union)

La Gravedad Sobre Earth
        ----------------------------------------------------------------------------------------------------
            Nombre del satelite: Moon
            La gravedad en Earth es:1.6199999999999999 en m/s2

In [25]:
union = f'''{titulo.title()}
{texto}'''

In [26]:
print(union)

La Gravedad Sobre Earth
----------------------------------------------------------------------------------------------------
            Nombre del satelite: Moon
            La gravedad en Earth es:1.6199999999999999 en m/s2

In [50]:
texto_2 = '''La gravedad sobre: {planet}
            ----------------------------------------------------------------------------------------------------
            Nombre del satelite: {name}
            La gravedad en {planet} es: {gravity} en m/s2
      '''
print(texto_2.format(name=name, planet=planet, gravity = gravity))

La gravedad sobre: Earth
            ----------------------------------------------------------------------------------------------------
            Nombre del satelite: Moon
            La gravedad en Earth es: 0.00162 en m/s2

In [51]:
print(texto_2.format(name=name, planet=planet, gravity=gravity*1000))

La gravedad sobre: Earth
            ----------------------------------------------------------------------------------------------------
            Nombre del satelite: Moon
            La gravedad en Earth es: 1.6199999999999999 en m/s2